    /*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/
    /* Global styles
------------------------------------*/
    
    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
        --header-height: 75px;
        scroll-padding-top: var(--header-height);
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        color: #343434;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 1.5;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .project-image {
        width: 300px;
        text-shadow: gray 2px 2px 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
    
    .project-image:hover {
        transform: scale(1.02);
    }
    
    a {
        color: #F7FFF7;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    h1 {
        font-size: 100px;
        line-height: .9;
        margin-top: 120px;
        margin-bottom: 0;
        text-shadow: gray 1px 1px 1px;
    }
    
    h2 {
        font-size: 45px;
        text-shadow: gray .5px .5px .5px;
    }
    
    h1,
    h2 {
        font-family: 'Caveat', cursive;
        font-weight: 600px;
    }
    
    h2 {
        margin: 0;
        margin-bottom: 20px;
    }
    
    .container {
        max-width: 900px;
        width: 80%;
        margin: 0 auto;
        padding: 15px 0;
    }
    
    h3 {
        margin-bottom: 0;
    }
    
    h3+p {
        font-style: italic;
    }
    
    .item-details h3~p {
        margin: 0;
    }
    
    .divider>section {
        border-bottom: 1px dashed #343434;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    .divider>section:last-of-type {
        border-bottom: none;
    }
    /*****Nav*****/
    
    nav {
        background-color: #227C9D;
        padding: 5px 0;
        position: relative;
        height: var(--header-height);
    }
    
    @supports (position: sticky) {
        nav {
            position: sticky;
            top: 0;
        }
    }
    
    .nav-ul li {
        list-style-type: none;
    }
    
    .nav-ul li:hover {
        transform: scale(1.02);
    }
    
    .nav-ul li a {
        text-decoration: none;
        font-size: 18px;
    }
    /*************Popup**********/
    
    .popup-wrapper {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: none;
    }
    
    #popup-img {
        max-width: 100%;
        flex: 1 1 0;
    }
    
    .popup-close {
        cursor: pointer;
    }
    
    .popup-wrapper p {
        text-align: center;
        margin: 150px 0 0 0;
    }
    
    .popup-wrapper p button {
        text-align: center;
        background: crimson;
        font-size: 15px;
        border-radius: 4px;
        padding: 10px;
        color: white;
    }
    /*****About Me******/
    
    #about-me {
        background-color: #EEE;
    }
    
    .grid-container {
        color: #F7FFF7;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .grid-container .grid-item {
        background-color: #227C9D;
        padding: 0 20px;
        font-size: 16px;
    }
    
    .grid-container .grid-item:hover {
        transform: scale(1.01);
    }
    
    #my-page-repo {
        color: #343434;
    }
    /* Profile
------------------------------------*/
    
    header {
        color: #643C2B;
    }
    /* Projects
------------------------------------*/
    
    .projects {
        background: #edf1f1;
    }
    
    .projects a {
        color: #e6e6e9;
        font-weight: bold;
    }
    
    .projects .btn {
        color: #F7FFF7;
        background: #397d96;
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
        display: inline-block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .projects .btn:hover {
        background-color: #1E6A85;
        transform: scale(1.01);
    }
    
    .project-item h3 {
        margin-top: 0;
    }
    
    .top-btn {
        background-color: #174F64;
        padding: 5px;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .top-btn:hover {
        background-color: #1E6A85;
        transform: scale(1.01);
    }
    /* Work Experience
------------------------------------*/
    
    .work-experience {
        background: #EEE;
    }
    /* Education
------------------------------------*/
    
    .education {
        background-image: url(./assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg);
        background-size: cover;
        background-position: bottom left;
        padding-bottom: 20px;
    }
    
    .education p {
        width: 60%;
    }
    
    .csc h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    /* Contact Info
------------------------------------*/
    
    footer {
        background: #227C9D;
        color: #F7FFF7;
    }
    
    .contact-list {
        list-style-type: none;
        padding: 0;
    }
    
    .contact-list a {
        margin-left: 15px;
    }
    /* Responsive
---------------------------------------*/
    
    @media (min-width:750px) {
        .project-item img {
            margin-right: 20px;
            float: left;
        }
        .job-item {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 20px;
            row-gap: 10px;
        }
        header {
            background-image: url(./assets/images/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 500px;
            background-position: bottom;
        }
        header,
        footer {
            text-align: center;
        }
        .contact-list {
            display: flex;
            justify-content: center;
        }
        .nav-ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .nav-ul li {
            margin: 0 15px;
        }
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
    }
    
    @media (max-width:749px) {
        header {
            background-color: #FEF9EF;
            text-align: center;
            padding-bottom: 10px;
        }
        h1 {
            font-size: 75px;
            margin-top: 15px;
        }
        h1,
        h2 {
            line-height: .9;
            margin-bottom: 15px;
        }
        nav {
            height: 250px;
        }
        .contact-list li {
            padding-bottom: 10px;
        }
        .nav-ul {
            text-align: left;
        }
        .nav-ul li {
            margin-bottom: 20px;
        }
        .grid-container .grid-item {
            padding: 10px;
            margin-top: 10px;
        }
    }